/* You can add global styles to this file, and also import other style files */

html{
    /* 10/16 * 100 */
    font-size: 62.5%;
    /* Use Padding and border during height and width calculations */
    box-sizing: border-box; 
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.btn-arrow{
    margin-left: 0.5rem;
    transition: margin-left 0.5s;
}


