/* You can add global styles to this file, and also import other style files */

html{
    /* 10/16 * 100 */
    font-size: 62.5%;
    /* Use Padding and border during height and width calculations */
    box-sizing: border-box; 
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.small-underline{
    width: 9rem;
    height: 0.1rem;
    background-color: #b85d1c;
    margin: 0 auto 1rem auto;
}

.big-underline{
    width: 20rem;
    height: 0.1rem;
    background-color: #b85d1c;
}

.btn-arrow{
    margin-left: 0.5rem;
    transition: margin-left 0.5s;
}

