.about-us{
    margin-left: 8rem;
    display: flex;
    background-color: #ddd;
}

.about-us-content{
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    box-sizing: border-box;
}

.about-us-heading{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #555;
}

.about-us-images{
    flex: 1 1;
    position: relative;    
}

.sub-heading{
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
    color: #b85d1c;
}

.about-us-paragraph{
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-bottom: 5rem;
}

.about-us-btn{
    width: 15rem;
    padding: 0.7rem 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #b85d1c;
    background-color: transparent;
    outline: none;
    border: 0.1rem solid #b85d1c;
    cursor: pointer;
}

.small-underline{
    width: 9rem;
    height: 0.1rem;
    background-color: #b85d1c;
    margin: 0 auto 1rem auto;
}

.big-underline{
    width: 20rem;
    height: 0.1rem;
    background-color: #b85d1c;
}

.about-us-btn:hover .btn-arrow{
    margin-left: 1.5rem;
}

.image{
    width: 32rem;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 3rem 6rem rgba(0,0,0,0.4);
    border-radius: 0.4rem;
    z-index: 8; 
}

.image-1{
    transform: translate(-20%, -90%);
}

.image-2{
    transform: translate(-70%, -70%);
}

.image-3{
    transform: translate(-50%, -50%);
}

.image-4{
    transform: translate(-30%, -30%);
}

@media(max-width: 1200px){
    .about-us{
        flex-direction: column;
        padding-bottom: 20rem;
    }

    .about-us-content{
        margin-bottom: 13rem;
    }

    .image{
        width: 25rem;
    }
}

@media(max-width: 900px){
    .banner{
        text-align: center;
    }

    .banner-heading{
        font-size: 4.7rem;
    }

    .banner-paragraph{
        font-size: 2.6rem;
    }

    .banner-button{
        width: 16rem;
        font-size: 1.5rem;
    }    
}

@media(max-width: 500px){
    .image{
        width: 13em;
    }
}

@media(max-width:507px){
    .sub-heading{
        text-align: center;
    }
}

@media(max-width:485px){
    .about-us-heading{
        text-align: center;
    }
}